extends layout/layout3.pug     
block content
  
   .outercontainer
      
    .outerpostcontainer 
         .leftUpperContainerMentorpage
            .leftContainerexplore
              .grpheadMentorPage Explore IITians
            .leftContainerexploreprofessors
               .grpheadMentorPage Explore Professors
            .leftContainerexplorestudents
               .grpheadMentorPage Explore More
       
        
block scripts
    script(src="/js/exploreMentor.js")
