html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color:#efefef;
  }
  body{
    background-color:#efefef;
  }
#exampleInputEmail1{
    width: 70%;
}
#exampleInputPassword1{
    width: 70%;
}
.form-control{
    width: 80%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 15px;
}
.form-select{
    width: 80%;
    height: 50px;
    font-size: 20px;
    background-color:#e8f0fe;
    padding-left: 10px;
    border-radius: 2px;
    margin-bottom: 25px;

    }

#submit-btn{
    width: 80%;
    height: 50px;
    font-size: 20px;
}

::placeholder{
    font-size: 20px;
}

.innercontainer{
width: 550px;
height: 800px;
background-color:#fff; margin-left: 300px;
margin-top: 100px;
}

.outercontainer{
background-color:#efefef; 
padding-left:20%;
 padding-right:20%;
  height:100vh;
  width:100vw;
  display: flex;
  flex-direction: row;
  
}
.ImageandText{
    margin-top: 250px;
}

#registerForm {
    margin-top: 0px;
    padding-top: 25px;
    padding-left: 80px;
    border-width: 1px;
    border-style: solid;
    border-color: #aaa;
    border-radius: 20px;
    width: 550px;
    height: 569px;
    font-size: 20px;
    box-shadow: 10px 3px 27px 1px #aaa;
}

.uploadphoto{
    margin-top: 10px;
    border: 1px;
    border-style: solid;
    border-color: #aaa;
    display: flex;
    flex-direction: row;
    cursor:pointer;
    
}