include ../mixins/mixins
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Kquesto 
        link(rel='icon', type='image/x-icon', href='/images/logof.png')
        link(rel='stylesheet', type='text/css', href='/css/style2.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  
        link(rel='stylesheet', type='text/css', href='/css/style2.css')
       
    
        nav.navbar.navbar-light.bg-light
            a.navbar-brand(href='#')
                img(src='/images/logo.png', width='30', height='30', alt='')

        .rightContainer(style="width:40%;display:flex;flex-direction:row; justify-content: flex-end; padding-top:40px; padding-left:20px;") 
            .Home
                a(href='/home')
                    img(src='images/home.png', width='30', height='30', alt='')
            .Search 
                img(src='images/search1.png', width='30', height='30', alt='')
            .Profile
                a(href='/profile') 
                    img(src='images/user.png', width='30', height='30',style="margin-right:0px; margin-left:10px", alt='')
            
    body
     block content